<h1>Cookbook!</h1>

##<h3><a href="/recipes">All Recipes</a></h3><br> //add to form page
<h3><a href="/recipes">Add a Recipe</a></h3>
<br>
<h3><a href="/ingredients">All Ingredients</a></h3>
<br>
<h3><a href="/ingredients">Add an Ingredient</a></h3>
<br>
<h3><a href="/tags">All Tags</a></h3>
<br>
<h3><a href="/tags">Add a Tag</a></h3>
<br>
##<p><a href="/books/search">Search for a book</a></p>
